################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Edgee Currency Api/v16

bin
obj
packages
appsettings.development.json